.btn {
  border: none;
  border-radius: 4px;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

select,
a,
button,
input {
  outline: none;
}

button,
a {
  &:hover {
    cursor: url(../../assets/img/pointer.png), pointer;
  }
}

body,
html {
  &:hover {
    cursor: url(../../assets/img/defaultcur.png), default;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.etc {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  // border-radius: 2px;
  background-color: #f9f9f9;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  // border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
  // background-color: rgb(79, 181, 255);
  background: linear-gradient(to bottom, #339cae, #9167d3);
}