.btn {
  border: none;
  border-radius: 4px;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.etc{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

select,
a,
button,
input {
  outline: none;
}

button,
a {
  &:hover {
    cursor: url(../../assets/img/pointer.png), pointer;
  }
}

body,
html {
  &:hover {
    cursor: url(../../assets/img/defaultcur.png), default;
  }
}
/*滑块*/
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #339cae, #9167d3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}


/*滑道*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}